<div class="register">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field class="register__input">
          <app-label-input
            [content]="'Name'"
            [showError]="showError('name')"
            [errorMessage]="getErrorMessage('name')"
          ></app-label-input>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="register__input" º>
          <app-label-input
            [content]="'Surname'"
            [showError]="showError('surname')"
            [errorMessage]="getErrorMessage('surname')"
          ></app-label-input>
          <input matInput type="text" formControlName="surname" />
        </mat-form-field>
        <br />
        <mat-form-field class="register__input">
          <app-label-input
            [content]="'Email'"
            [showError]="showError('email')"
            [errorMessage]="getErrorMessage('email')"
          ></app-label-input>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="register__input">
          <app-label-input
            content="Password"
            [showError]="showError('password')"
            [errorMessage]="getErrorMessage('password')"
          ></app-label-input>
          <input
            matInput
            type="password"
            formControlName="password"
          /> </mat-form-field
        ><br />
        <mat-form-field class="register__input">
          <app-label-input
            content="Repeat password"
            [showError]="showError('repeatedPassword')"
            [errorMessage]="getErrorMessage('repeatedPassword')"
          ></app-label-input>
          <input matInput type="password" formControlName="repeatedPassword" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [disabled]="registerForm.invalid"
        (click)="onRegister()"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
